.gradient{
    background: linear-gradient(180deg, rgba(255, 107, 0, 0.49) 0%, rgba(0, 0, 0, 0.844) 100%);
}
.gradientSosmed{
  background: linear-gradient(180deg, rgba(255, 107, 0, 0.15) 31.13%, rgba(54, 29, 10, 0.19) 100%);
}
@keyframes about {
  0% {
    width: 15%;
    transform-origin: left;
    transform: scaleX(1);
  }
  50% {
    width: 15%;
    transform: scaleX(7);
  }
  60% {
    width: 15%; 
    transform: scaleX(12);
  }
}


.animateabout {
  animation: about 2s linear infinite;
  -webkit-animation: about 2s linear infinite;
}
@keyframes marquee {
  0%,90% {
    width: 15%;
    transform-origin: left;
    transform: scaleX(1);
  }
  50% {
    width: 15%;
    transform: scaleX(7);
  }
  70% {
    width: 15%; 
    transform: scaleX(8);
  }
}


.animatesosmed {
  animation: marquee 2s linear infinite; 
}

